@model Organizer.ViewModels.PomodoroViewModel

@{

    ViewData["Title"] = "Pomodor";
}


<h1>Pomodoro</h1>

<p>
    <a asp-action="Create">Create new task</a>
</p>

<table class="table">

    <tr>
        <th>Value</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model.pomodoroTasks)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Description)</td>
            <td>@Html.DisplayFor(i => item.PomodoroTaskStatus.Name)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                <form asp-action="Delete" asp-route-id="@item.Id">
                    <input type="hidden" asp-for="@item.Id"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                
            </td>
        </tr>
    }


</table>







